body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f6f9;
}

.login-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-card{
    width:380px;
    background:white;
    padding:35px;
    border-radius:12px;
    box-shadow:0 0 20px rgba(0,0,0,.15);
}

.login-card h1{
    text-align:center;
    color:#0077ff;
    margin-bottom:5px;
}

.login-card h2{
    text-align:center;
    margin-bottom:25px;
}

.login-card input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:6px;
    box-sizing:border-box;
}

.login-card button{
    width:100%;
    padding:12px;
    background:#0077ff;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
}

.login-card button:hover{
    background:#005fd4;
}

.login-card p{
    text-align:center;
    margin-top:20px;
}

.login-card a{
    margin-left:5px;
    color:#0077ff;
    text-decoration:none;
}

.error{
    color:red;
    text-align:center;
    margin-bottom:15px;
}